DisiProject/Service References/FacturaDigitalWS/TimbradoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.facturadigital.com.mx/soap/FacturaDigitalWebService" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.facturadigital.com.mx/soap/FacturaDigitalWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.facturadigital.com.mx/soap/FacturaDigitalWebService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="ArrayOfString">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RespuestaGenerarCFDIPorTexto">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="mensajeError" type="xsd:string" />
          <xsd:element name="versionCFDI" type="xsd:string" />
          <xsd:element name="noCertificado" type="xsd:string" />
          <xsd:element name="certificado" type="xsd:string" />
          <xsd:element name="selloCFD" type="xsd:string" />
          <xsd:element name="FechaTimbrado" type="xsd:string" />
          <xsd:element name="UUID" type="xsd:string" />
          <xsd:element name="noCertificadoSAT" type="xsd:string" />
          <xsd:element name="versionTFD" type="xsd:string" />
          <xsd:element name="selloSAT" type="xsd:string" />
          <xsd:element name="cadenaOrigTFD" type="xsd:string" />
          <xsd:element name="cadenaQR" type="xsd:string" />
          <xsd:element name="tokenDownload" type="xsd:string" />
          <xsd:element name="urlDownloadXML" type="xsd:string" />
          <xsd:element name="urlDownloadPDF" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RespuestaCancelarCFDI">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="mensajeError" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RespuestaConsultarCreditos">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="mensaje" type="xsd:string" />
          <xsd:element name="creditos" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RespuestaEnviarCorreo">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="mensaje" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="generarCFDIPorTextoRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="contrasena" type="xsd:string" />
    <wsdl:part name="stringTexto" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="generarCFDIPorTextoResponse">
    <wsdl:part name="return" type="tns:RespuestaGenerarCFDIPorTexto" />
  </wsdl:message>
  <wsdl:message name="cancelarCFDIRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="contrasena" type="xsd:string" />
    <wsdl:part name="uuid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancelarCFDIResponse">
    <wsdl:part name="return" type="tns:RespuestaCancelarCFDI" />
  </wsdl:message>
  <wsdl:message name="consultarCreditosRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="contrasena" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="consultarCreditosResponse">
    <wsdl:part name="return" type="tns:RespuestaConsultarCreditos" />
  </wsdl:message>
  <wsdl:message name="enviarCorreoRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="contrasena" type="xsd:string" />
    <wsdl:part name="uuid" type="xsd:string" />
    <wsdl:part name="token" type="xsd:string" />
    <wsdl:part name="destinatario" type="xsd:string" />
    <wsdl:part name="mensajehtml" type="xsd:string" />
    <wsdl:part name="templatecode" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="enviarCorreoResponse">
    <wsdl:part name="return" type="tns:RespuestaEnviarCorreo" />
  </wsdl:message>
  <wsdl:portType name="FacturaDigitalWebServicePortType">
    <wsdl:operation name="generarCFDIPorTexto">
      <documentation>Recibe un string de texto con los datos de facturación de acuerdo al formato definido en la plantilla de texto proporcionada por el integrador y retorna un objeto arreglo de datos que contiene la ruta de descarga del xml, pdf y la información basica del CFDI para generar un PDF personalizado.</documentation>
      <wsdl:input message="tns:generarCFDIPorTextoRequest" />
      <wsdl:output message="tns:generarCFDIPorTextoResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelarCFDI">
      <documentation>Recibe los datos de acceso al web service (usuario y password) y retorna un objeto con el codigo de error y mensaje. El codigo de error para una cancelacion exitosa es 200.</documentation>
      <wsdl:input message="tns:cancelarCFDIRequest" />
      <wsdl:output message="tns:cancelarCFDIResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultarCreditos">
      <documentation>Recibe los datos de acceso al web service (usuario y password) y retorna un objeto con la información referente a los créditos o timbres disponibles mismos que no tienen caducidad.</documentation>
      <wsdl:input message="tns:consultarCreditosRequest" />
      <wsdl:output message="tns:consultarCreditosResponse" />
    </wsdl:operation>
    <wsdl:operation name="enviarCorreo">
      <documentation>Envia por correo electronico el CFDI en base al UUID recibido.</documentation>
      <wsdl:input message="tns:enviarCorreoRequest" />
      <wsdl:output message="tns:enviarCorreoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacturaDigitalWebServiceBinding" type="tns:FacturaDigitalWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="generarCFDIPorTexto">
      <soap:operation soapAction="https://www.facturadigital.com.mx/sistemacfdi32/webservices/TimbradoWS.php/generarCFDIPorTexto" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.facturadigital.com.mx/SecureWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.facturadigital.com.mx/SecureWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarCFDI">
      <soap:operation soapAction="https://www.facturadigital.com.mx/sistemacfdi32/webservices/TimbradoWS.php/cancelarCFDI" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.facturadigital.com.mx/SecureWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.facturadigital.com.mx/SecureWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarCreditos">
      <soap:operation soapAction="https://www.facturadigital.com.mx/sistemacfdi32/webservices/TimbradoWS.php/consultarCreditos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.facturadigital.com.mx/SecureWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.facturadigital.com.mx/SecureWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviarCorreo">
      <soap:operation soapAction="https://www.facturadigital.com.mx/sistemacfdi32/webservices/TimbradoWS.php/enviarCorreo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://www.facturadigital.com.mx/SecureWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://www.facturadigital.com.mx/SecureWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturaDigitalWebService">
    <wsdl:port name="FacturaDigitalWebServicePort" binding="tns:FacturaDigitalWebServiceBinding">
      <soap:address location="https://www.facturadigital.com.mx:443/sistemacfdi32/webservices/TimbradoWS.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>